<!DOCTYPE html>
<html>
<head>
  <title>The shortest URL Shortener ever!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
  <strong>Disclaimer:</strong> <span class="code_disclaimer">use this site as your onw risk <b>while</b> you.are_insane?</span>
</footer>
</body>
</html>
